<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Merci de votre achat !</title>
		{{ importmap('app') }}
</head>
<body>
    <div class="container">
        <h2 class="mt-4">Facture n°{{commande.id}}</h2>

        <p>Bonjour {{user.prenom}}, Vous trouverez une copie des détails de votre transaction ci-dessous, merci d'avoir commandé sur Sneakpeek !</p>
        
        <table class="table table-bordered bg-white">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                    <th>Sous-total</th>
                </tr>
            </thead>
            <tbody>
                {% for produitData in produits %}
                    <tr>
                        <td>{{ produitData.produit.nom }}</td>
                        <td>{{ produitData.quantite }}</td>
                        <td>{{ produitData.prix|number_format(2, '.', ',') }} €</td>
                        <td>{{ produitData.sousTotal|number_format(2, '.', ',') }} €</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <p class="mt-4">Total de la commande : {{ prixTotal|number_format(2, '.', ',')}} €</p>
    </div>
</body>
</html>
